mxet300/fall2020/mqttSample.txt
[
    {
        "id": "c40a0429.226988",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "97662e90.8a9ec",
        "type": "file in",
        "z": "c40a0429.226988",
        "name": "battery_v",
        "filename": "/tmp/battery_v.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "7e0d45cb.d421ac"
            ]
        ]
    },
    {
        "id": "cc231f8.34bb0e",
        "type": "inject",
        "z": "c40a0429.226988",
        "name": "",
        "repeat": "0.2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "97662e90.8a9ec"
            ]
        ]
    },
    {
        "id": "7e0d45cb.d421ac",
        "type": "mqtt out",
        "z": "c40a0429.226988",
        "name": "",
        "topic": "scuttle/fleet/09/batt_v",
        "qos": "2",
        "retain": "false",
        "broker": "f5e80b45.d4d488",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "e7409d2b.38603",
        "type": "ui_slider",
        "z": "c40a0429.226988",
        "name": "",
        "label": "Servo Position",
        "tooltip": "",
        "group": "bf73991d.63a9d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "-1.5",
        "max": "1.5",
        "step": "0.1",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "19f35f8a.e47f6"
            ]
        ]
    },
    {
        "id": "17a59f1e.b87121",
        "type": "ui_text",
        "z": "c40a0429.226988",
        "group": "bf73991d.63a9d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 320,
        "wires": []
    },
    {
        "id": "945cc2c9.df145",
        "type": "file",
        "z": "c40a0429.226988",
        "name": "",
        "filename": "/tmp/servo_pos.txt",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1110,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "fb8eb4f0.f3c338",
        "type": "mqtt in",
        "z": "c40a0429.226988",
        "name": "",
        "topic": "scuttle/fleet/09/batt_v",
        "qos": "2",
        "broker": "f5e80b45.d4d488",
        "x": 880,
        "y": 200,
        "wires": [
            [
                "2682bc93.7b7834"
            ]
        ]
    },
    {
        "id": "2682bc93.7b7834",
        "type": "ui_gauge",
        "z": "c40a0429.226988",
        "name": "battery_v_gauge",
        "group": "bf73991d.63a9d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Voltage",
        "label": "Volts",
        "format": "{{value}}",
        "min": 0,
        "max": "13",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1110,
        "y": 200,
        "wires": []
    },
    {
        "id": "19f35f8a.e47f6",
        "type": "mqtt out",
        "z": "c40a0429.226988",
        "name": "",
        "topic": "scuttle/fleet/09/servo1_pos",
        "qos": "2",
        "retain": "false",
        "broker": "f5e80b45.d4d488",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "22cffa3c.593d36",
        "type": "mqtt in",
        "z": "c40a0429.226988",
        "name": "",
        "topic": "scuttle/fleet/09/servo1_pos",
        "qos": "2",
        "broker": "f5e80b45.d4d488",
        "x": 870,
        "y": 280,
        "wires": [
            [
                "945cc2c9.df145",
                "17a59f1e.b87121"
            ]
        ]
    },
    {
        "id": "f5e80b45.d4d488",
        "type": "mqtt-broker",
        "z": "",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bf73991d.63a9d8",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "6004da55.ded5f4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6004da55.ded5f4",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
